{% extends "template.html" %}

{% block masthead %}
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Kapitał w OFE<br>przenieść do ZUS, czy do IKE?</h1>
          <h4 class="mb-5">Zamiast zgadywać, policz który wariant jest dla Ciebie korzystniejszy.</h4>
          </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <button class="btn btn-block btn-lg btn-primary" onclick="smoothScroll(document.getElementById('kalkulator'))">Kalkulator</button>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block icons_grid %}
  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div  id="icons_grid" class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Politycy a Twoja emerytura</h3>
            <p class="lead mb-0">Cele polityków i Twoje są zupełnie rozbieżne. Niekoniecznie wariant domyślny proponowany przez nich będzie najlepszy dla Ciebie.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Kto skorzysta z kalkulatora?</h3>
            <p class="lead mb-0">Dla tych, którzy przemyśleli wszystkie za i przeciw, lecz wciąż nie wiedzą co zrobić.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>O mnie</h3>
            <p class="lead mb-0">Nie lubię ślepo iść za tłumem. Napisałem ten kalkulator dla swoich rodziców, by podjęli lepszą dla siebie decyzję. Używasz na własną odpowiedzialność, choć masz moje słowo, że dołożyłem wszelkich starań by rzetelnie zobrazować sytuację.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block image_showcases %}
  <!-- Image Showcases -->
  <section class="showcase">
    <div id="showcase" class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Wariant domyślny: IKE</h2>
          <p class="lead mb-0">Państwo potrąca Ci 15% z tytułu opłaty przekształceniowej, a resztę przelewa na specjalnie utworzony rachunek IKE.
            Tych pieniędzy nie będzie można wycofać przed emeryturą, natomiast będzie można je zainwestować, więc mogą zarówno przynieść zysk, jak i stratę.
            Ponadto, środki w IKE, niezależnie od tego jak będą zainwestowane, czy nie, będzie podgryzać inflacja.
            Na tę chwilę rząd obiecuje, że środki te nie będą dalej opodatkowane. Po osiągnięciu wieku emerytalnego teoretycznie można je wypłacić,
            lecz trzeba będzie płacić podatek Belki od dalszych zysków. Jeśli środki skończą się przed śmiercią, to dodatek znika,
            natomiast niewykorzystane środki podlegają dziedziczeniu.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Wariant alternatywny: ZUS</h2>
          <p class="lead mb-0">Cała wartość rejestru OFE dopisywana jest do Twojego kapitału emerytalnego - bez dodatkowej opłaty zamieniasz fizyczne środki
            na obietnicę wyższej emerytury. Ten kapitał historycznie były waloryzowane korzystnie - historyczne wskaźniki waloryzacji były zauważalnie wyższe niż inflacja.
            Po osiągnięciu wieku emerytalnego ZUS wylicza wysokość świadczenia emerytalnego w oparciu m. in. o zgromadzony kapitał (wliczając jego waloryzację),
            więc może się to przełożyć na wyższą emeryturę w przyszłości, niż w przypadku wyboru wariantu z IKE.
            Emerytura wypłacana jest do końca życia, podlega podatkowi dochodowemu (ale i też kwocie wolnej od podatku) oraz waloryzacji, która ustawowo powinna być wyższa niż oficjalna inflacja.
            Nie ma ryzyka przejedzenia całego dodatku z OFE (emerytura wypłacana jest dożywotnio), w zamian środki nie podlegają dziedziczeniu.
            W przypadku, gdy wartość jednostki OFE spadnie w trakcie wykonywania reforny emerytalnej, do ZUS transferowany jest kapitał z OFE wg wycen z dnia 15 kwietnia 2019r.
          </p>

        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Wybrane założenia przyjęte w obliczeniach</h2>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">IKE: po osiągnięciu wieku emerytalnego wycofujemy pieniądze z IKE i trzymamy je w tej samej inwestycji płacąc podatek Belki, wypłacając co miesiąc kwotę proporcjonalną do oczekiwanej długości trwania życia</li>
              <li class="list-group-item">ZUS: dla bezpieczeństwa przyjęto, że przyszła stopa waloryzacji kapitału wyniesie 5.2% (średnia waloryzacja kapitału w ostatnich 19 latach wynosila 6.5%, a w ostatnich dwoch latach nawet 8-9%)</li>
              <li class="list-group-item">Czas trwania życia brany jest z danych dostarczanych przez GUS - w oparciu o te dane (i Twoją płeć) wyliczana jest liczba lat na emeryturze</li>
              <li class="list-group-item">Przy wyliczaniu podatku dochodowego brana jest pod uwagę kwota wolna od podatku oraz standardowe odliczenia od emerytury</li>
            </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block kalkulator %}
  <!-- Call to Action -->
  <section id="kalkulator" class="call-to-action text-white text-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Wpisz dane do symulacji</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="POST" action="/wynik" id="wynik_form">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <p>Jak myślisz, jaką roczną stopę zwrotu będzie miała Twoja potencjalna inwestycja w IKE do czasu przejścia na emeryturę? [%]</p>
                <input type="number" name="r" min="-100" value="5" step="0.01" required><br><br>

                <p>Roczna stopa zwrotu z IKE w trakcie emerytury [%]</p>
                <input type="number" name="r_em" min="-100" value="2" step="0.01" required><br><br>

                <p>Przyjęta stopa inflacji w kolejnych latach [%]</p>
                <input type="number" name="inflacja" value="2.5" step="0.01" required><br><br>

                <p>Prognozowana emerytura (brutto) (w dzisiejszych kwotach)</p>
                <input type="number" name="prognozowana_emerytura_brutto" min="0" step="1.00" required><br><br>

                <p>Suma aktywów w rejestrze OFE na 15 kwietnia 2019</p>
                <input type="number" name="ofe" min="0" step="1.00" required><br><br>

                <p>Zmiana wartości jednostki OFE, jaka dokonała się między 1 października 2020, a 15 kwietnia 2019 [%]</p>
                <input type="number" name="zmiana_wartosci_jednostki_ofe" min=-100 value="-25" step="1" required><br><br>

                <p>Płeć</p>
                <select name="kobieta" form="wynik_form">
                    <option value="0">Mężczyzna</option>
                    <option selected value="1">Kobieta</option>
                </select><br><br>

                <p>Wiek</p>
                <input type="number" name="wiek" min="1" max="65" step="1.00" required>
              </div>
              <div class="col-12 col-md-3 my-auto">
                <input type="submit" class="btn btn-block btn-lg btn-primary" value="Wyślij">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}